<a href="https://colab.research.google.com/github/Cabangoncpe/CPE-009A-CPE12S2/blob/main/Python_Fundamentals(Cabangon).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [85]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [86]:
#This is a comment
print("Hello!")
if 5>2:
  print("Five is greater than two!")

Hello!
Five is greater than two!

Variable Naming Conventions

In [87]:
size = float(10)
size_2 = int(5)
Size = "small"

print(size)
print(size_2)
print(Size)

10.0
5
small

Python Variable

In [88]:
x = 1
a, b=0,-1
a,b,c=0,-1,2
b="Sally" #This is a type of string
print (a,b,c)

0 Sally 2

Casting

In [89]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [90]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [91]:
w = "John Doe"
x = 'John'
y = "Jane"
z = 'Jane Doe'
print(w,x,y,z)

John Doe John Jane Jane Doe

Case Sensitive

In [92]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

Multiple Variables

In [93]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Muletiple Variables

In [94]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [95]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [96]:
#Other way:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [97]:
#Addition
x = 5
y = 3
print(x+y) #sum

x=5
y=3
sum=x+y
sum

#Subtraction
print(x-y) #dif

#Multiplication
print(x*y) #pro

#Division
print(x/y) #quo

#Exponent
print(x**y) #exp

#Modulus
print(x%y) #mod

#Floor Division
print(x//y)

8
2
15
1.6666666666666667
125
2
1

Assignment Operators

In [98]:
#Assignment Operators

#+=
s=45
s+=22
print(s)

#-=
s=45
s-=22
print(s)

#*+
s=45
s*=22
print(s)

#/=
s=45
s/=22
print(s)

#%=
s=45
s%=22
print(s)

#//=
s=45
s//=22
print(s)

#**=
s=45
s**=22
print(s)

#&=
s=45
s&=22
print(s)

#|=
s=45
s|=22
print(s)

#^=
s=45
s^=22
print(s)

#>>=
s=45
s>>=22
print(s)

#<<=
s=45
s<<=22
print(s)

67
23
990
2.0454545454545454
1
2
2347876792391803819849491119384765625
4
63
59
0
188743680

Comparison Operators

In [99]:
t = 2
u = 3

print(t==u) #Equal
print(t!=u) #Not Equal
print(t>u) #Greater Than
print(t<u) #Less Than
print(t>=u) #Greater Than or Equal To
print(t<=u) #Less Than or Equal To

False
True
False
True
False
True

Logical Operators

In [100]:
t = 2

print (t < 5 and t < 10) #and
print (t < 5 or t < 4) #or
print (not(t < 5 and t <10)) #not

True
True
False

Bitwise Operators

In [103]:
v = 2

print(v&1) # & (AND)
print(v|3) # | (OR)
print(v^1) # ^ (XOR)
print(~v) # ~ (NOT)
print(v<<2) #<< (left shift)
print(v>>1) #>> (right shift)

0
3
3
-3
8
1